
<include href="views/header.html"></include>
<body>
<h1>Choose your Accessories.</h1>
<form action="#" method="POST" class="form-horizontal">
    <div class="form-group">
        <div>
            <input type="checkbox" name="accessory[]" value="googly eyes" id="google">
            <label for="google">Googly Eyes</label><br>
            <input type="checkbox" name="accessory[]" value="bow tie" id="bow">
            <label for="bow">Bow Tie</label><br>
            <input type="checkbox" name="accessory[]" value="ribbon" id="ribbon">
            <label for="ribbon">Ribbon</label><br>
            <input type="checkbox" name="accessory[]" value="hair" id="hair">
            <label for="hair">Hair</label><br>
            <input type="checkbox" name="accessory[]" value="mustache" id="mustache">
            <label for="mustache">mustache</label><br>
        </div>
        <div class="form-group">
            <button class="btn btn-primary"  type="submit">Next</button>
        </div>

    </div>
</form>
</body>
</html>