
<include href="views/header.html"></include>
<body>
<h1>Customize Your Stuffed Animal</h1>
<form action="#" method="POST" class="form-horizontal">
    <div class="form-group">
        <h2>Size of Stuffed Animal</h2>
        <div>
            <input type="radio" name="size" value="Small Sized Bear" id="small" checked>
            <label for="small">Small</label><br>
            <input type="radio" name="size" value="Medium Sized Bear" id="medium">
            <label for="medium">Medium</label><br>
            <input type="radio" name="size" value="Large Sized Bear" id="large">
            <label for="large">Large</label><br>
        </div>
        <h2>Type of Stuffing</h2>
        <div>
            <input type="radio" name="stuffing" value="Fiber Fil" id="fiber" checked>
            <label for="fiber">Fiber Fil</label><br>
            <input type="radio" name="stuffing" value="Cotton" id="cotton">
            <label for="cotton">Cotton</label><br>
        </div>
        <h2>Material</h2>
        <div>
            <input type="radio" name="fabric" value="Plush Fabric" id="plush" checked>
            <label for="plush">Plush Fabric</label><br>
            <input type="radio" name="fabric" value="Solid Smooth Fabric" id="solid">
            <label for="solid">Solid Smooth Fabric</label><br>
        </div>
        <div class="form-group">
            <button class="btn btn-primary"  type="submit">Next</button>
        </div>

    </div>
</form>
</body>
</html>